CONFIG_IMX_HAB=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x10000000
CONFIG_FIT_VERBOSE=y
CONFIG_IMAGE_SIGN_INFO=y
CONFIG_RSA=y
#CONFIG_FIT_ENABLE_SHA384_SUPPORT=y
CONFIG_FIT_ENABLE_SHA512_SUPPORT=y
CONFIG_LEGACY_IMAGE_FORMAT=n
CONFIG_SHA512_ALGO=y
CONFIG_SHA512=y
# CONFIG_SHA384 is not set
CONFIG_SHA_PROG_HW_ACCEL=y
