LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ##OEROOT##/meta \
    ##OEROOT##/meta-poky \
    ##OEROOT##/../meta-openembedded/meta-oe \
    ##OEROOT##/../meta-openembedded/meta-networking \
    ##OEROOT##/../meta-openembedded/meta-python \
    ##OEROOT##/../meta-openembedded/meta-multimedia \
    ##OEROOT##/../meta-freescale \
    ##OEROOT##/../meta-imx/meta-imx-bsp \
    ##OEROOT##/../meta-imx/meta-imx-sdk \
    ##OEROOT##/../meta-freescale-distro \
    ##OEROOT##/../meta-arm/meta-arm \ 
    ##OEROOT##/../meta-arm/meta-arm-toolchain \
    ##OEROOT##/../meta-aaeon-nxp-imx8 \
    ##OEROOT##/../meta-welma-aaeon-imx \
    ##OEROOT##/../meta-welma \
    ##OEROOT##/../meta-swupdate \
"